@media (max-width: 750px) {
    header {
        height: 90px;
        width: 100vw;
        overflow: hidden;
        padding: 0;
    }

    .logo.header {
        margin-left: 10px;
    }

    .main-nav{
        margin: 0;
    }

    .main-nav li:nth-of-type(4) a{
        width: 77px;
        height: 77px;
        border-radius: 50%;
        text-indent: -9999px;
        overflow: hidden;
    }

    .main-nav li:nth-of-type(4) a::before {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 26px;
        height: 20px;
        background-size: 26px;
    }

    .menu-icon{
        height: 90px;
        aspect-ratio: 1/1;
        background-color: #fff;
        position: relative;
        transition: all ease-in-out .35s;
    }

    .menu-icon span{
        width: 50px;
        height: 2px;
        border: none;
        background-color: var(--bg-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease-in-out .35s;
    }
    
    .menu-icon span::before{
        content: '';
        width: 50px;
        height: 2px;
        border: none;
        background-color: var(--bg-color);
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease-in-out .35s;
    }

    .menu-icon span::after{
        content: '';
        width: 50px;
        height: 2px;
        border: none;
        background-color: var(--bg-color);
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease-in-out .35s;
    }

    .open .menu-icon span{
        height: 0;
        width: 0;
    }
    .open .menu-icon span::before{
        top: 0;
        transform: translateX(-50%) rotate(45deg);
    }

    .open .menu-icon span::after{
        top: 0;
        transform: translateX(-50%) rotate(-45deg);
    }

    /* SP MENU */

    .open .sp_menu{
        opacity: 1;
        transform: translateX(0);
    }

    /* TOP */
    .top{
        height: 144vw;
        max-height: unset;
        background: url("../img/mv-sp.png") no-repeat;
        background-size: 100%;
    }

    .top-img{
        width: 58%;
        transform: translateX(30%);
    }

    .top-img.fir{
        right: 54.5%;
    }

    .top .content{
        width: 76.4%;
        top: 46%;
        left: 1.3125rem;
    }

    .top .content h1{
        font-size: 13.5rem;
        line-height: 12rem;
    }

    .top .content h1 span{
        font-size: 8.5rem;
    }

    .top .content p{
        margin-top: 33px;
        font-size: 3.7rem;
        white-space: nowrap;
        padding-left: 2.5rem;
    }

    .text-slide{
        transform: translateY(42%);
    }
}
